/*structure*/
body {
	font-family: Veranda, sans-serif;
	color: #666;
}

.col-md-5,
.col-md-7 {
	padding: 0 15px 0 12px;
}

/*heading*/
header {
	margin: 25px 0 0;
}

.title-heading {
	font-size: 48px;
	margin: 20px 0 5px;
}

/*image, features*/
h2 {
	color: #f07c17;
}

.item-img {
	margin: 24px 0 28px;
	max-width: 100%;
}

.features {
	border: 1px solid #ccc;
	padding: 0 0 31px;
	margin: 0 2px 0 0;
}

.title-features {
	padding: 9px 0 0 29px;
}

ul {
	padding: 16px 0 0 72px;
}

li {
	padding: 3px 0;
	font-size: 16px;
	line-height: 1.5;
	margin: 1px 0 1px;
}

/*description*/
.title-description {
	font-size: 24px;
	letter-spacing: 2px;
	margin: 20px 0 32px;
	padding: 3px 0 0;
}

p {
	line-height: 2;
	font-size: 16px;
	margin: 7px 0 10px 5px;
}